<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div fxLayout="column" fxFlex>
      <div fxLayout="row">
        <button mat-button (click)="sidenav.close()"><mat-icon>menu</mat-icon></button>
        <button mat-button routerLink="/" fxFlex="200px"><img src="assets/logo.png" width="70px"/>Tamid YouTube</button>
      </div>
      <button mat-button routerLink="/login" fxFlex="80px" *ngIf="!loggedIn()">Log In</button>
      <button mat-button (click)="logout()" fxFlex="80px" *ngIf="loggedIn()">Logout</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenavContent">
<mat-toolbar>
  <span fxFlex fxLayoutGap="50px" class="large-toolbar">
    <button mat-button fxHide fxShow.lt-sm (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>
    <button fxHide.lt-sm mat-button routerLink="/" fxFlex="200px"><img src="assets/logo.png" width="70px"/>Tamid YouTube</button>
    <form (ngSubmit)="search()" fxFlex>
      <mat-form-field appearance="standard" class="mat-search" [ngClass.lt-sm]="'mat-search-sm'" fxFlex floatLabel="never">
        <input matInput placeholder="Search" type="text" [(ngModel)]="query" name="query" [matAutocomplete]="auto">
        <button mat-icon-button matSuffix type="submit"><mat-icon>search</mat-icon></button>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="search()">
        <mat-option *ngFor="let option of searchHistory" [value]="option.query">
          {{ option.query }}
        </mat-option>
      </mat-autocomplete>
    </form>
    <button fxHide.lt-sm mat-button routerLink="/login" fxFlex="80px" *ngIf="!loggedIn()">Log In</button>
    <button fxHide.lt-sm mat-button (click)="logout()" fxFlex="80px" *ngIf="loggedIn()">Logout</button>
  </span>
</mat-toolbar>

<div class="outlet">
  <router-outlet ></router-outlet>
</div>
  </mat-sidenav-content>
</mat-sidenav-container>
